# Яке середовище (dev/stage/prod) - поки тільки для логіки
APP_ENV=dev

# На якому порту запускати FastAPI
APP_PORT=8000

# На якому пристрої виконувати інференс (cpu / cuda)
INFERENCE_DEVICE=cpu

# Клас моделі, який треба створити (для dummy-моделі)
MODEL_CLASS_PATH=models.dummy_model.DummyTrafficModel

# Шлях до файлу з вагами моделі.
# Для dummy поки не потрібен, тому залишаємо порожнім або коментуємо.
# MODEL_ARTIFACT_URI=./models/model.pt

# Реквізити S3/MinIO для майбутнього (поки можна не чіпати)
S3_ENDPOINT_URL=http://minio:9000
S3_BUCKET_NAME=traffic-gnn-models
S3_ACCESS_KEY=minio-access-key
S3_SECRET_KEY=minio-secret-key
S3_REGION=us-east-1